In [3]:
print("This is my print")

This is my print

In [4]:
l= [1,2,3,4,5]

In [5]:
type(l)

list

In [6]:
def test():
    pass

In [7]:
len(l)

5

In [8]:
def test1():
    print("This is my very very first function")

In [9]:
test1

In [10]:
test1()

This is my very very first function

In [11]:
test1() +"sanjeev"

This is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
def test2():
    return "This is my very first return"

In [ ]:
test2()

'This is my very first return'

In [ ]:
type(test2())

str

In [ ]:
test2()+" sanjeev"

'This is my very first return sanjeev'

In [ ]:
type(test1())

This is my very very first function

NoneType

In [ ]:
def test3():
    return "sanjeev",23,44,[1,2,3]

In [ ]:
test3()

('sanjeev', 23, 44, [1, 2, 3])

In [ ]:
type(test3())

tuple

In [ ]:
a,b,c,d=test3()

In [ ]:
a

'sanjeev'

In [ ]:
b

23

In [ ]:
c

44

In [ ]:
d

[1, 2, 3]

In [ ]:
test3()

('sanjeev', 23, 44, [1, 2, 3])

In [ ]:
a,b=1,4

In [ ]:
a

1

In [ ]:
b

4

In [ ]:
test3()

('sanjeev', 23, 44, [1, 2, 3])

In [ ]:
def add_numbers(x,y):
    return x+y

add_numbers(1,2)

3

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [ ]:
def add_numbers(x,y,z=None,flag=False):
    if (flag):
        print('Flag is True!')
    if (z==None):
        return x+y
    else :
        return x+y+z
print(add_numbers(1,2,flag=True))

Flag is True!
3

In [ ]:
print(add_numbers(1,2,flag=False))

3

In [ ]:
type(add_numbers)

function

In [ ]:
l=[1,2,3,4,"sanjeev","jamatia",[1,2,3,4,5]]

In [ ]:
l1=[]
for i in l :
    if type(i)== int or type(i)==float:
        l1.append(i)

In [ ]:
l1

[1, 2, 3, 4]

In [ ]:
def test7(l):
    l1=[]
    for i in l :
        if type(i)== int or type(i)==float:
            l1.append(i)
    return l1

In [ ]:
test7(l)

[1, 2, 3, 4]

In [ ]:
l

[1, 2, 3, 4, 'sanjeev', 'jamatia', [1, 2, 3, 4, 5]]

In [ ]:
def test8(a):

#this is my function to extractnum data from list
    l=[]
    for i in a:
        if type(i)==list:
            for j in i :
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [ ]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [ ]:
def test10(*args):
    return args

In [ ]:
test10(1,2,3)

(1, 2, 3)

In [ ]:
test10(1,2,3,4,[1,2,3,4],"sanjeev")

(1, 2, 3, 4, [1, 2, 3, 4], 'sanjeev')

In [ ]:
def test11(*args,a):
    return args,a

In [ ]:
test11(1,3,2,4,a=12)

((1, 3, 2, 4), 12)

In [ ]:
def test12(c,d,a=12,b=13):
    return a,b,c,d

In [ ]:
test12(1,2)

(12, 13, 1, 2)

In [ ]:
test12(1,2,a=10)

(10, 13, 1, 2)

In [ ]:
def test13(**kwargs):
    return kwargs

In [ ]:
test13()

{}

In [ ]:
type(test13())

dict

In [ ]:
test13(a=[1,2,3,4],b="sanjeev",c=12.11,d=True)

{'a': [1, 2, 3, 4], 'b': 'sanjeev', 'c': 12.11, 'd': True}

In [ ]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [ ]:
test_fib(10)

In [ ]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [ ]:
b=['saw','He','small','foxes','six']

In [ ]:
b.sort(key=len)

In [ ]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
import bisect

In [ ]:
c=[1,2,2,2,3,4,7]

In [ ]:
bisect.bisect(c,2)

4

In [ ]:
bisect.bisect(c,5)

6

In [ ]:
seq1=['foo','bar','baz']

In [ ]:
seq2=['one','two','three']

In [ ]:
zipped=zip(seq1,seq2)

In [ ]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
seq3=[False,True]

In [ ]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [ ]:
for i ,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [ ]:
pitchers =[('Nolan','Ryan'),('Roger','Clemens'),('Schilling','curt')]

In [ ]:
first_names,last_names=zip(*pitchers)

In [ ]:
first_names

('Nolan', 'Roger', 'Schilling')

In [ ]:
last_names

('Ryan', 'Clemens', 'curt')

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.intersection(b)

{3, 4, 5}

In [ ]:
a & b

{3, 4, 5}

In [ ]:
a.intersection_update(b)

In [ ]:
a.symmetric_difference(b)

{6, 7, 8}

In [ ]:
a.issubset(b)

True

In [ ]:
a.issuperset(b)

False

In [ ]:
a.isdisjoint(b)

False

In [ ]:
c=a.copy

In [ ]:
c

In [ ]:
strings=['a','as','bat','car','drove','python']

In [ ]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DROVE', 'PYTHON']

In [ ]:
unique_lengths={len(x) for x in strings}

In [ ]:
unique_lengths

{1, 2, 3, 5, 6}

In [ ]:
set(map(len,strings))

{1, 2, 3, 5, 6}

In [ ]:
loc_mapping={val:index for index , val in enumerate(strings)}

In [ ]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'drove': 4, 'python': 5}

In [ ]:
all_data=[['john','Emily','Micheal',"Mary",'Steven'],["Maria",'Juan','Javuer','Natalia','Pillar']]

In [ ]:
names_of_interest=[]
for names in all_data:
    enough_es=[name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)

In [ ]:
result = [name for names in all_data for name in names if name.count('l')>=2]

In [ ]:
result

['Pillar']

In [ ]:
names_of_interest

['Steven']

In [ ]:
some_tupes=[(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
flattend=[x for tup in some_tupes for x in tup]

In [ ]:
flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [ ]:
my_function(5,6,z=0.7)

0.06363636363636363

In [ ]:
my_function(3.14, 7, 3.5)

35.49

In [ ]:
my_function(10,20)

45.0

In [1]:
states=['Alabama','Georgia!','India','China##',"FlOrIda","MiaMi"]

In [2]:
import re 
def clean_strings(strings):
    result=[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]<>/','',value)
        value = value.title()
        result.append(value)
    return result

In [3]:
clean_strings(states)

['Alabama', 'Georgia!', 'India', 'China##', 'Florida', 'Miami']

In [4]:
! pip install numpy

Requirement already satisfied: numpy in c:\users\romulusdome\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.24.2)

In [2]:
def short_functions(x):
    return x*2
equiv_anon=lambda x:x*2

In [1]:
l=[1,2,3,4,5]

In [2]:
def test(l):
    l1 =[]
    for i in l:
        l1.append(i**2)
    return l1

In [3]:
test(l)

[1, 4, 9, 16, 25]

In [4]:
def sq(x):
    return x**2

In [5]:
list(map(sq,l))

[1, 4, 9, 16, 25]

In [6]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [9]:
l1 =[1,2,3,4,5]
l2=[6,7,8,9,10]

In [10]:
list(map(lambda x , y: x+y , l1, l2))

[7, 9, 11, 13, 15]

In [11]:
def add(x,y):
    return x+y

In [13]:
list(map(add,l1,l2))

[7, 9, 11, 13, 15]

In [15]:
s="sanjeevjamatia"
list(map(lambda s:s.upper(),s))

['S', 'A', 'N', 'J', 'E', 'E', 'V', 'J', 'A', 'M', 'A', 'T', 'I', 'A']

In [16]:
from functools import reduce

In [17]:
l=[1,2,3,4,5]

In [18]:
reduce(lambda x,y:x+y,l)

15

In [19]:
reduce(lambda x,y:x*y,l)

120

In [20]:
reduce(lambda x,y:x if x >y else y , l)

5

In [21]:
list(filter(lambda x:x%2==0 ,l))

[2, 4]

In [24]:
list(filter(lambda x: x%2!=0,l))

[1, 3, 5]

In [25]:
l3=['sanjeev','sudh','pwskills','root','bot']

In [27]:
list(filter(lambda x: len(x)<6,l3))

['sudh', 'root', 'bot']