In [5]:
l=[1,2,3,4,5]

In [6]:
for i in l:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [7]:
l1= ["sanjeev", "jamatia", "kala", "Mani"]

In [10]:
for i in l1:
    print(i)

sanjeev
jamatia
kala
Mani

In [11]:
l1

['sanjeev', 'jamatia', 'kala', 'Mani']

In [15]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

sanjeev
jamatia
kala
Mani
if for loop is able to complete itself then only else will execute

In [17]:
for i in l1:
    if i =='kala':
        break
    print(i)

sanjeev
jamatia

In [19]:
for i in l1:
    if i == 'jamatia':
        break
    print(i)
else:
    print("Execute the below code")

sanjeev

In [20]:
l1

['sanjeev', 'jamatia', 'kala', 'Mani']

In [21]:
for i in l1:
    if i=='jamatia':
        continue 
    print(i)

sanjeev
kala
Mani

In [23]:
for i in l1:
    if i == 'jamatia':
        continue
    print(i)
else:
    print("Execute the code")

sanjeev
kala
Mani
Execute the code

In [24]:
range(5)

range(0, 5)

In [25]:
list(range(5))

[0, 1, 2, 3, 4]

In [33]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [35]:
l1

['sanjeev', 'jamatia', 'kala', 'Mani']

In [37]:
list(range(len(l1)))

[0, 1, 2, 3]

In [38]:
for i in range(len(l1)):
    print(l1[i])

sanjeev
jamatia
kala
Mani

In [44]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [41]:
l1

['sanjeev', 'jamatia', 'kala', 'Mani']

In [46]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

Mani
kala
jamatia
sanjeev

In [51]:
l2=[3,4,5,2,224,42,54,28,31,85,76,33,235,33]

In [52]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12]

In [56]:
for i in range(0, len(l2), 2):
    print(l2[i])

3
5
224
54
31
76
235

In [57]:
l2[0]

3

In [58]:
l

[1, 2, 3, 4, 5]

In [59]:
l3=[1,2,3,4,57,9]

In [61]:
sum(l3)

76

In [62]:
result = 0
for i in l3:
    result = result + i
result

76

In [63]:
s1="pwskills"

In [64]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [71]:
d={"name":"sanjeev","class":"Data science Masters","topic":["python","stats","Machine Learning","DL","CV","NLP","resume","interview"]}

In [72]:
d

{'name': 'sanjeev',
 'class': 'Data science Masters',
 'topic': ['python',
  'stats',
  'Machine Learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [67]:
d['name']

'sanjeev'

In [68]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [74]:
for i in d.keys():
    print(d[i])

sanjeev
Data science Masters
['python', 'stats', 'Machine Learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [75]:
d.values()

dict_values(['sanjeev', 'Data science Masters', ['python', 'stats', 'Machine Learning', 'DL', 'CV', 'NLP', 'resume', 'interview']])

In [76]:
for i in d.values():
    print(i)

sanjeev
Data science Masters
['python', 'stats', 'Machine Learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [3]:
d.items()

NameError: name 'd' is not defined

In [2]:
for i in d.items():
    print(i)

NameError: name 'd' is not defined